In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.sql import SQLContext
spark = SparkSession.builder.master("local[1]").appName('').getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.2.0-bin-hadoop3.2/jars/spark-unsafe_2.12-3.2.0.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/02/09 13:06:40 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
df = spark.read.option("inferSchema", "true").parquet("./ref/parquet")
dicionario = spark.read.option("delimiter", ";").option("header", "true").option("inferSchema", "true").option("encoding", "utf-8").csv("./dicionario_deter_sie.csv")

In [3]:
df.createOrReplaceTempView("tb")
dicionario.createOrReplaceTempView("dicionario")

22/02/09 13:06:44 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

In [10]:
df_join = spark.sql("""
SELECT
    tb.ano AS `ano`,
    tb.empresa AS `empresa`,
    prefixo,
    mun_ori.SIG_CONCAT_UPPER AS `linha_origem`,
    mun_des.SIG_CONCAT_UPPER AS `linha_destino`,
    CONCAT(loc_ori.SIG_CONCAT_UPPER, '-', loc_des.SIG_CONCAT_UPPER) AS localidade_ori_des,
    pax_total AS `passageiros_total`
FROM tb
LEFT JOIN dicionario AS loc_ori ON tb.ori_localidade_nome = loc_ori.SIE_NOME
LEFT JOIN dicionario AS loc_des ON tb.des_localidade_nome = loc_des.SIE_NOME
LEFT JOIN dicionario AS mun_ori ON tb.ori_municipio_nome = mun_ori.SIE_NOME
LEFT JOIN dicionario AS mun_des ON tb.des_municipio_nome = mun_des.SIE_NOME

""")

df_join.show(10, False)

df_join.write.option("delimiter", ",").option("header", "true").option("encoding", "utf-8").csv("./testecsv/")

# df_join.write.partitionBy("empresa").parquet("./test_joined")

+----+-----------------------------+-------+------------+-------------+-----------------------------------------+-----------------+
|ano |empresa                      |prefixo|linha_origem|linha_destino|localidade_ori_des                       |passageiros_total|
+----+-----------------------------+-------+------------+-------------+-----------------------------------------+-----------------+
|2008|1-EMP STO ANJO DA GUARDA LTDA|16- 0  |null        |null         |BALNEÁRIO CAMBORIÚSC-ITAJAÍSC            |10140            |
|2008|1-EMP STO ANJO DA GUARDA LTDA|16- 0  |null        |null         |BALNEÁRIO CAMBORIÚSC-NAVEGANTESSC        |173              |
|2008|1-EMP STO ANJO DA GUARDA LTDA|16- 0  |null        |null         |BALNEÁRIO CAMBORIÚSC-BALNEÁRIO PIÇARRASSC| 3673            |
|2008|1-EMP STO ANJO DA GUARDA LTDA|16- 0  |null        |null         |BALNEÁRIO CAMBORIÚSC-BARRA VELHASC       |620              |
|2008|1-EMP STO ANJO DA GUARDA LTDA|16- 0  |null        |null         |BALNEÁRIO CAMBORIÚSC-BARRA VELHASC       |887              |
|2008|1-EMP STO ANJO DA GUARDA LTDA|16- 0  |null        |null         |BALNEÁRIO CAMBORIÚSC-ARAQUARISC          | 72              |
|2008|1-EMP STO ANJO DA GUARDA LTDA|16- 0  |null        |null         |BALNEÁRIO CAMBORIÚSC-ARAQUARISC          | 41              |
|2008|1-EMP STO ANJO DA GUARDA LTDA|16- 0  |null        |null         |BALNEÁRIO CAMBORIÚSC-JOINVILLESC         |955              |
|2008|1-EMP STO ANJO DA GUARDA LTDA|16- 0  |null        |null         |ITAJAÍSC-NAVEGANTESSC                    | 4420            |
|2008|1-EMP STO ANJO DA GUARDA LTDA|16- 0  |null        |null         |ITAJAÍSC-BALNEÁRIO PIÇARRASSC            | 8735            |
+----+-----------------------------+-------+------------+-------------+-----------------------------------------+-----------------+
only showing top 10 rows

In [11]:
spark.sql("""
          SELECT ano AS Ano, empresa AS Empresa, CONCAT(ori_municipio_nome, '-', des_municipio_nome) AS Linha, ori_des_localidade_nome AS `Origem-destino`, pax_total AS `Total de passageiros`
          FROM tb
          WHERE ano = 2019 AND
          (empresa LIKE '23%' OR empresa LIKE '1505%') AND
          pax_total > 10000 AND
          servico_ambito = 'RODOVIARIO'
          ORDER BY pax_total DESC
          """).show(10, False)

+----+---------------------------------+-----------------------+---------------------+--------------------+
|Ano |Empresa                          |Linha                  |Origem-destino       |Total de passageiros|
+----+---------------------------------+-----------------------+---------------------+--------------------+
|2019|23-REUNIDAS S/A-TRANSP COLETIVOS |CONCORDIA -CHAPECO     |CONCORDIA-CHAPECO    |18585               |
|2019|23-REUNIDAS S/A-TRANSP COLETIVOS |LAGES -FLORIANOPOLIS   |LAGES-FLORIANOPOLIS  |14683               |
|2019|23-REUNIDAS S/A-TRANSP COLETIVOS |FLORIANOPOLIS -BLUMENAU|BRUSQUE-BLUMENAU     |13541               |
|2019|23-REUNIDAS S/A-TRANSP COLETIVOS |CONCORDIA -CHAPECO     |SEARA-CHAPECO        |12997               |
|2019|23-REUNIDAS S/A-TRANSP COLETIVOS |LAGES -CURITIBANOS     |LAGES-CORREIA PINTO  |11451               |
|2019|23-REUNIDAS S/A-TRANSP COLETIVOS |MAFRA -JOINVILLE       |MAFRA-S BENTO DO SUL |11017               |
+----+---------------------------------+-----------------------+---------------------+--------------------+