# Função DETER/SIE

In [7]:
from codigo_sc import get_deter_1, ler_sc

anos = [2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]

for ano in anos:
    get_deter_1(ano)

Gravação no formato CSV efetuada para o dataset de 2000
Gravação no formato Parquet efetuada para o dataset de 2000
Sucesso para o dataset de 2000

Gravação no formato CSV efetuada para o dataset de 2001
Gravação no formato Parquet efetuada para o dataset de 2001
Sucesso para o dataset de 2001

Gravação no formato CSV efetuada para o dataset de 2002
Gravação no formato Parquet efetuada para o dataset de 2002
Sucesso para o dataset de 2002

Gravação no formato CSV efetuada para o dataset de 2003
Gravação no formato Parquet efetuada para o dataset de 2003
Sucesso para o dataset de 2003

Gravação no formato CSV efetuada para o dataset de 2004
Gravação no formato Parquet efetuada para o dataset de 2004
Sucesso para o dataset de 2004

Gravação no formato CSV efetuada para o dataset de 2005
Gravação no formato Parquet efetuada para o dataset de 2005
Sucesso para o dataset de 2005

Gravação no formato CSV efetuada para o dataset de 2006
Gravação no formato Parquet efetuada para o dataset de 2006
Sucesso para o dataset de 2006

Gravação no formato CSV efetuada para o dataset de 2007
Gravação no formato Parquet efetuada para o dataset de 2007
Sucesso para o dataset de 2007

Gravação no formato CSV efetuada para o dataset de 2008
Gravação no formato Parquet efetuada para o dataset de 2008
Sucesso para o dataset de 2008

Gravação no formato CSV efetuada para o dataset de 2009
Gravação no formato Parquet efetuada para o dataset de 2009
Sucesso para o dataset de 2009

Gravação no formato CSV efetuada para o dataset de 2010
Gravação no formato Parquet efetuada para o dataset de 2010
Sucesso para o dataset de 2010

Gravação no formato CSV efetuada para o dataset de 2012
Gravação no formato Parquet efetuada para o dataset de 2012
Sucesso para o dataset de 2012

Gravação no formato CSV efetuada para o dataset de 2013
Gravação no formato Parquet efetuada para o dataset de 2013
Sucesso para o dataset de 2013

Gravação no formato CSV efetuada para o dataset de 2014
Gravação no formato Parquet efetuada para o dataset de 2014
Sucesso para o dataset de 2014

Gravação no formato CSV efetuada para o dataset de 2015
Gravação no formato Parquet efetuada para o dataset de 2015
Sucesso para o dataset de 2015

Gravação no formato CSV efetuada para o dataset de 2016
Gravação no formato Parquet efetuada para o dataset de 2016
Sucesso para o dataset de 2016

Gravação no formato CSV efetuada para o dataset de 2017
Gravação no formato Parquet efetuada para o dataset de 2017
Sucesso para o dataset de 2017

Gravação no formato CSV efetuada para o dataset de 2018
Gravação no formato Parquet efetuada para o dataset de 2018
Sucesso para o dataset de 2018

Gravação no formato CSV efetuada para o dataset de 2019
Gravação no formato Parquet efetuada para o dataset de 2019
Sucesso para o dataset de 2019

In [45]:
tb_2014 = ler_sc()

Você escolheu o ano: 2014
Agora, escolha o formato para leitura.
Formatos disponíveis:
1 - CSV | 2 - Parquet
Você escolheu o formato: 2

In [46]:
tb_2014.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28740 entries, 0 to 28739
Data columns (total 53 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ano                      28740 non-null  int64
 1   codigo                   0 non-null      float64
 2   des_localidade_id        0 non-null      float64
 3   des_localidade_nome      28740 non-null  object
 4   des_localidade_uf        0 non-null      float64
 5   des_municipio_id         0 non-null      float64
 6   des_municipio_nome       28740 non-null  object
 7   empresa                  28740 non-null  object
 8   empresa_cnpj             0 non-null      float64
 9   empresa_situacao         0 non-null      float64
 10  empresa_tipo             0 non-null      float64
 11  ida_idoso_desconto       0 non-null      float64
 12  ida_idoso_gratis         0 non-null      float64
 13  ida_jovem_desconto       0 non-null      float64
 14  ida_jovem_gratis         0 non-null      float64
 15  ida_pagantes             0 non-null      float64
 16  ida_passelivre           0 non-null      float64
 17  km                       28740 non-null  object
 18  km_total                 0 non-null      float64
 19  linha                    0 non-null      float64
 20  linha_id                 0 non-null      float64
 21  lugares_idas             0 non-null      float64
 22  lugares_voltas           0 non-null      float64
 23  mes                      0 non-null      float64
 24  ori_des_localidade_nome  28740 non-null  object
 25  ori_localidade_id        0 non-null      float64
 26  ori_localidade_nome      28740 non-null  object
 27  ori_localidade_uf        0 non-null      float64
 28  ori_municipio_id         0 non-null      float64
 29  ori_municipio_nome       28740 non-null  object
 30  pax_gratis_descontos     0 non-null      float64
 31  pax_idoso_desconto       0 non-null      float64
 32  pax_idoso_gratis         0 non-null      float64
 33  pax_jovem_desconto       0 non-null      float64
 34  pax_jovem_gratis         28740 non-null  object
 35  pax_pagantes             28740 non-null  object
 36  pax_passelivre           0 non-null      float64
 37  pax_total                28740 non-null  object
 38  prefixo                  28740 non-null  object
 39  secao_id                 0 non-null      float64
 40  sequencial               28740 non-null  int64
 41  servico_ambito           28740 non-null  object
 42  servico_tipo             0 non-null      float64
 43  sisdap_fim               0 non-null      float64
 44  sisdap_inicio            0 non-null      float64
 45  viagem_idas              0 non-null      float64
 46  viagem_voltas            0 non-null      float64
 47  volta_idoso_desconto     0 non-null      float64
 48  volta_idoso_gratis       0 non-null      float64
 49  volta_jovem_desconto     0 non-null      float64
 50  volta_jovem_gratis       0 non-null      float64
 51  volta_pagantes           0 non-null      float64
 52  volta_passelivre         0 non-null      float64
dtypes: float64(39), int64(2), object(12)
memory usage: 11.6+ MB