In [1]:
import pandas as pd

# dicionario_secoes

In [2]:
df_secoes = pd.read_csv('dicionario_secoes.csv', delimiter = ';', encoding = 'cp1252', header = 0)

In [3]:
df_secoes.head()

               sie                sig
0  25 DE MAIO          BARRA BONITASC
1  A CEDROS          RIO DOS CEDROSSC
2  A GARIBALDI      ANITA GARIBALDISC
3  A PALMEIRA        RIO DOS CEDROSSC
4  A PEDRA PRETA     RIO DOS CEDROSSC

In [4]:
df_secoes["sie"] = df_secoes["sie"].str.strip()

In [5]:
# df = df.drop_duplicates()

In [6]:
# df.to_html('dicionario_deter_sie_stripped.html', index = False)

In [7]:

df_secoes.to_csv('dicionario_secoes_stripped.csv', sep = ';', encoding = 'utf-8', index = False)

# dicionario_linhas

In [8]:
df_linhas = pd.read_csv('dicionario_linhas.csv', delimiter = ';', encoding = 'cp1252', header = 0)

In [9]:
df_linhas.head()

                              sie              sig
0  ABDON BATISTA                   ABDON BATISTASC
1  ABELARDO LUZ                     ABELARDO LUZSC
2  AGROLANDIA                         AGROLÂNDIASC
3  AGRONOMICA                         AGRONÔMICASC
4  AGUA DOCE                           ÁGUA DOCESC

In [10]:
df_linhas["sie"] = df_linhas["sie"].str.strip()

In [11]:
# df = df.drop_duplicates()

In [12]:
# df.to_html('dicionario_deter_sie_stripped.html', index = False)

In [13]:

df_linhas.to_csv('dicionario_linhas_stripped.csv', sep = ';', encoding = 'utf-8', index = False)