In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
from pyspark.sql.functions import col
from pyspark.sql.functions import lit
spark = SparkSession.builder.master("local[*]").appName('query_sc').getOrCreate()

sc = spark.read.option("header", "True").parquet("./intermunicipal_sc/ref_join/parquet/singlefile/")
sc.createOrReplaceTempView("sc")

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.2.0-bin-hadoop3.2/jars/spark-unsafe_2.12-3.2.0.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/03/25 01:06:18 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [52]:
sc.printSchema()

root
 |-- ano: long (nullable = true)
 |-- empresa: string (nullable = true)
 |-- modalidade: string (nullable = true)
 |-- linha: string (nullable = true)
 |-- prefixo: string (nullable = true)
 |-- sig_linha_ori_des: string (nullable = true)
 |-- sig_secao_ori_des: string (nullable = true)
 |-- km: string (nullable = true)
 |-- passageiros_total: string (nullable = true)
 |-- sie_linha_ori: string (nullable = true)
 |-- sie_linha_des: string (nullable = true)
 |-- sie_secao_ori: string (nullable = true)
 |-- sie_secao_des: string (nullable = true)
 |-- sig_linha_ori: string (nullable = true)
 |-- sig_linha_des: string (nullable = true)
 |-- sig_secao_ori: string (nullable = true)
 |-- sig_secao_des: string (nullable = true)

In [3]:
ano = list(range(2000, 2021, 1))
for ano in ano:
    spark.sql(f"SELECT ano, empresa, modalidade, CONCAT(prefixo, ' - ', sie_linha_ori, ' - ', sie_linha_des) AS linha, CAST(passageiros_total AS INTEGER) FROM SC WHERE modalidade = 'RODOVIARIO' AND ano = {ano}").groupBy("ano", "empresa", "linha").sum("passageiros_total").orderBy("ano", "empresa", "linha").toPandas().to_excel(f"deter_linhas_{ano}.xlsx", index = False)

In [5]:
spark.sql(f"SELECT ano, empresa, modalidade, CONCAT(prefixo, ' - ', sie_linha_ori, ' - ', sie_linha_des) AS linha, CAST(passageiros_total AS INTEGER) FROM SC WHERE modalidade = 'RODOVIARIO' AND ano = 2002").groupBy("ano", "empresa", "linha").sum("passageiros_total").orderBy("ano", "empresa", "linha").toPandas().to_excel(f"deter_linhas_2002.xlsx", index = False)